<!-- sidebar.ejs -->
<div
  class="hidden md:block fixed top-20 left-0 w-64 h-[calc(100vh-5rem)] bg-white shadow-lg z-40 py-6 px-4"
>
  <a
    href="/lembaga"
    class="<%= currentPath === '/lembaga' ? 'bg-gray-100 text-primary' : 'text-gray-700 ' %> block px-4 py-2 rounded-lg font-medium"
  >
    Isu Saya
  </a>
  <a
    href="/lembaga/histori"
    class="<%= currentPath === '/lembaga/histori' ? 'bg-gray-100 text-primary' : 'text-gray-700 hover:text-dark' %> block px-4 py-2 rounded-lg font-medium"
  >
    Histori
  </a>
  <a
    href="/lembaga/pesan"
    class="<%= currentPath === '/lembaga/pesan' ? 'bg-gray-100 text-primary' : 'text-gray-700 hover:text-dark' %> block px-4 py-2 rounded-lg font-medium"
  >
    Inbox
  </a>
  <a
    href="/lembaga/akun"
    class="<%= currentPath === '/lembaga/akun' ? 'bg-gray-100 text-primary' : 'text-gray-700 hover:text-dark' %> block px-4 py-2 rounded-lg font-medium"
  >
    Akun
  </a>
  <a
    href="/keluar"
    class="block px-4 py-2 rounded-lg font-medium text-red-600 hover:text-red-800"
  >
    <i class="fa-solid fa-right-from-bracket"></i>
    Keluar
  </a>
</div>

<!-- bottom nav -->
 <!-- Bottom Navigation -->
<nav class="fixed bottom-0 left-0 right-0 z-50 bg-white border-t shadow-md md:hidden">
  <div class="flex justify-around items-center h-16">
    <a href="/lembaga" class="flex flex-col items-center <%= currentPath === '/lembaga' ? 'text-primary' : 'text-gray-500' %> hover:text-primary">
        <i class="fa-solid fa-user text-xl"></i>
        <span class="text-xs">Isu Saya</span>
    </a>

    <a href="/lembaga/pesan" class="flex flex-col items-center <%= currentPath === '/lembaga/pesan' ? 'text-primary' : 'text-gray-500' %> hover:text-primary">
        <i class="fa-solid fa-envelope text-xl"></i>
        <span class="text-xs">Inbox</span>
    </a>

    <a href="/lembaga/histori" class="flex flex-col items-center <%= currentPath === '/lembaga/histori' ? 'text-primary' : 'text-gray-500' %> hover:text-primary">
        <i class="fa-solid fa-clock-rotate-left text-xl"></i>
        <span class="text-xs">Histori</span>
    </a>

    <a href="/lembaga/akun" class="flex flex-col items-center <%= currentPath === '/lembaga/akun' ? 'text-primary' : 'text-gray-500' %> hover:text-primary">
        <i class="fa-solid fa-user-gear text-xl"></i>
        <span class="text-xs">Akun</span>
    </a>

    <a href="/keluar" class="flex flex-col items-center text-red-600 hover:text-red-800">
        <i class="fa-solid fa-right-from-bracket text-xl"></i>
        <span class="text-xs">Keluar</span>
    </a>

  </div>
</nav>
